body{
    background-color: #98e;
}
.card{
    width: clamp(320px, 50%, 400px);
        margin: 50px auto;
        position: relative;
}
.card-worker{
    max-height: 300px;
    overflow: hidden;
}
.card-worker img{
    width: 100%;
}
.card__data{
    padding: 12px;
}
.card__data span{
    font-size: 1.8rem;
    margin: 6px 0;
}
.card__back, .card__front{
    backface-visibility: hidden;
    transition: transform 1s;
}
.card__front{
    transform: perspective(900px) rotateY(0);
}
.card__back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    transform: perspective(900px) rotateY(180deg);
}
.card:hover .card__front{
    transform: perspective(900px) rotateY(180deg);
}
