body{
    background-color: #2c6e63;
}
.card{
    width: clamp(320px, 50%, 400px);
        margin: 50px auto;
        position: relative;
        background-color: #561217;
        border-radius: 25px;
        box-sizing: border-box;
        overflow: hidden;

}
.card-worker{
    max-height: 300px;
    overflow: hidden;
}
.card-worker img{
    width: 100%;
    border-radius: 25px 25px 0 0 ;

}
.card__data{
    padding: 12px;
    background-color: #f8b735;
    border-radius: 0 0 25px 25px;
}
.card__data span{
    font-size: 1.8rem;
    margin: 6px 0;
}
.card__back, .card__front{
    backface-visibility: hidden;
    transition: transform 1s;
    border-radius: 25px;

}
.card__front{
    transform: perspective(900px);
    animation: girar-front 8s infinite alternate linear ;

}
.card__back{
    position: absolute;
    background-color: #f8b735;
    top: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
    transform: perspective(900px);
    text-align: justify;
    padding: 20px;
    animation: girar-back 8s infinite alternate  linear;
    box-sizing: border-box;
}
.card:hover .card__front{
    transform: perspective(900px) rotateY(180deg);
}
.card:hover .card__back{
    transform: perspective(900px) rotateY(360deg);
}
@keyframes girar-front {
    0%{
        transform: rotateY(0deg);
        width: 100%;
    }
    25%{
        transform: rotateY(180deg);
    }
    50%{
    transform: rotateY(0deg);
        width: 100%;
    }
    100%{
        transform: rotateY(180deg);
    }
    
}
@keyframes girar-back {
    0%{
        transform: rotateY(180deg);
        width: 100%;
    }
        25%{
        transform: rotateY(360deg);
    }
    50%{
    transform: rotateY(180deg);
        width: 100%;
    }
    100%{
        transform: rotateY(360deg);
        width: 100%;
    }
    
}