*{
    box-sizing: border-box;
}
.body{
    background-color: #abf;
}
body, div, ul, nav, header, footer, li, label{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: #48e;
    align-items: center;
    container-type: inline-size;
    container-name: header;
}

.header__logo{
    width: 80px;
    padding: 0;
    }
.label__checkbox{
    position: absolute;
    right: 40px;
    top: 0;
    font-size: 60px;
    font-weight: 600;
    background-color: transparent;
}
.nav{
    display: flex;
    background-color: #48e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 60px;
    z-index: 2;
}
.menu__open{
    display: none;
}
.nav{
    display: none;
    list-style: none;
    padding: 0;
    margin: auto;
}
.menu__open:checked ~ .nav{
    display: flex;
    background-color: #fff;
}
.nav__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    list-style: none;
    padding: 0;
    margin: auto;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}
.nav__item{
    background-color: transparent;
}

@container header (min-width:600px){
    .nav{
        display: block;
        position: static;
        right: 0;
        top: 20px;
        margin-right: 20px;
        width: auto;
        height: auto;
        z-index: 0;
    }
    .nav__list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
    }
    .label__checkbox{
        display:none;
    }
}



.profile{
    container-name: profile;
    container-type: inline-size;
    margin: auto;
}
.profile__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:transparent;
    max-width: 1400px;
    padding: 20px;
    margin: auto;
}
.profile__img{
    max-width: 100%;
    width: 620px;
    object-fit: cover;
    background-color: #fff;
    margin: 0;
    border-radius: 10px 0 0 10px;
}
.img-slide{
    width: 1860px;
    display: flex;
    animation:imagen 15s infinite;
    background-position: center;
    animation-timing-function: linear;
    animation-direction: alternate;
    object-fit: cover;
    
}

.profile__description{
    background-color: #fff;
}
.profile__img-container{
    max-width: 620px;
    width: 100%;
    height: 750px;
    max-height: initial;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
}
@keyframes imagen {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-67%);
    }
}





.profile__data-container{
    max-width: 620px;
    padding: 12px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 9px #002;
    overflow: hidden;
}
.profile__skills-container{
    background-color: #fff;
    width: 620px;
    display: flex;
}
.profile__skills-container ul{
    background-color: #fff;
    width: 100%;
}
.profile__data{
    max-width: 620px;
    background: #fff;
    
}
.profile__skill{
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    background-color: #fff;
}
.profile-slide{
    width: 1240px;
    display: flex;
    animation-name: data-alternate;
    animation-duration: 8s;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    
}
.profile-alternate{
    width: 620px;
    padding: 0 20px;
}
@keyframes data-alternate {
    from{
        transform: translateX(0);}
    to{
            transform: translateX(-50%);
        }
    
}
.radius{
    display: grid;
    width: 100%;
    height: 420px;
    gap: 10px;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    justify-items: center;
    align-content: center;
    padding: 10px;
    box-sizing: border-box


    ;
}
.radius__item{
    border-radius: 100%;
    color:transparent;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: radius;
    animation-duration: 8s;
    animation-delay: 7s;
    -webkit-animation-fill-mode: forwards;
    animation-direction: alternate;
    text-align: center;
    
}

.radius-80{
    width: 0%;
    animation-name: r80;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 7.8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
@keyframes r80 {
    0%{
        width: 175px;
        height: 175px;
        background-image: radial-gradient(transparent, #48e );
        color: #000;
        box-shadow: 0 0 5px 2px #4ff;
    }   
    50%{
        transform: translateY(60px);
    }
    60%{
        transform: translateX(50px);
    }
    100%{
        width: 175px;
        height: 175px;
        background-image: radial-gradient(transparent, #48e );
        color: #000;
        box-shadow: 0 0 5px 2px #4ff;
        transform: translateY(0);
    }
}
.radius-70{
    width: 0%;
    animation-name: r70;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 8s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes r70 {
    0%{
        width: 160px;
        height: 160px;
        background-image:radial-gradient(transparent, #C5ED45 );
        color: #000;
        box-shadow: 0 0 5px 2px #ffff45;
        transform: translateY(0);}
    50%{
        transform: translateY(50px);

    }
    60%{
        transform: translateX(80px);
    }

    100%{
        width: 160px;
        height: 160px;
        background-image:radial-gradient(transparent, #C5ED45 );
        color: #000;
        box-shadow: 0 0 5px 2px #ffff45;
        transform: translateY(0);
    }
}
.radius-60{
    grid-column: span 2;
    animation-name: r60;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 8.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;

}
@keyframes r60 {
    0%{
        width: 140px;
        height: 140px;
        background-image:radial-gradient(transparent,#ED5945 ) ;
        color: #000;
        box-shadow: 0 0 5px 2px #aa59ff;
    }   
    50%{
        transform: translateY(-40px);
    }
    60%{
        transform: translateX(40px);
    }
    100%{
        width: 140px;
        height: 140px;
        background-image:radial-gradient(transparent,#ED5945 ) ;
        color: #000;
        box-shadow: 0 0 5px 2px #aa59ff;
        transform: translateY(0);
    }
}
.radius-50{
    animation-name: r50;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 9s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes r50 {
    0%{
        width: 120px;
        height: 120px;
        background-image:radial-gradient(transparent, #5F7698) ;
        color: #000;
        box-shadow: 0 0 5px 2px #5f76ff;
    }
    50%{
        transform: translateY(-50px);
    }   
    60%{
        transform: translateX(40px);
    }
    100%{
        width: 120px;
        height: 120px;
        background-image:radial-gradient(transparent, #5F7698) ;
        color: #000;
        box-shadow: 0 0 5px 2px #5f76ff;
        transform: translateY(0);
    }
}
.radius-40{
    animation-name: r40;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-delay: 9.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}
@keyframes r40 {
    0%{
        width: 110px;
        height: 110px;
        background-image:radial-gradient(transparent,#686E57 ) ;
        color: #000;
        box-shadow: 0 0 5px 2px #ed79e7
    }   
    50%{
        transform: translateY(-70px);
    }
    60%{
        transform: translateX(50px);
    }
    100%{
        width: 110px;
        height: 110px;
        background-image:radial-gradient(transparent,#686E57 ) ;
        color: #000;
        box-shadow: 0 0 5px 2px #ed79e7;
        transform: translateY(0);
    }
}


@keyframes radius {
    0%{
        background-color: transparent;
        color: transparent;
    }
    5%{
        background-color: #48e;
    }
    100%{
        background-color: #4f5;
        color: #000;
    }
    
}





.profile__skill-name{
    color: #48e;
}
h1{
    margin-top: 0;
    font-size: 4rem;
    text-wrap: balance;
}
.load__bar{
    border: 2px solid #48e;
    background-color: #fff;
    border-radius: 8px;
    color:transparent;
    padding: 2px ;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left:0 ;
}.load-bar___bar{
    background-color: #48e;
    border-radius: 6px;
    padding: 4px 6px;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-iteration-count:infinite ;
    animation-fill-mode: both;
    animation-direction: alternate;
}
.bar--80{
    width: 0%;
    animation-name: bar80;
}
@keyframes bar80  {
    from{
        width: 0%;
    }
    to{
        width: 80%;
        background-color: #0f05;
        color: #000;
    }
    
}
.bar--60{
    width: 0%;
    animation-name: bar60;
    animation-delay: 1.2s;
}
@keyframes bar60  {
    from{
        width: 0%;
    }
    to{
        width: 60%;
        background-color: #0f05;
        color: #000;
    }
    
}

.bar--70{
    width: 0%;
    animation-name: bar70;
    animation-delay:1.4s ;
}
@keyframes bar70  {
    from{
        width: 0%;
    }
    to{
        width: 70%;
        background-color: #0f05;
        color: #000;
    }
    
}
.bar--75{
    width: 0%;
    animation-name: bar75;
    animation-delay: 1.6s;
}
@keyframes bar75  {
    from{
        width: 0%;
    }
    to{
        width: 75%;
        background-color: #0f05;
        color: #000;
    }
    
}
.bar--90{
    width: 90%;
    animation-name: bar90;
    animation-delay: 1.8s;
}
@keyframes bar90  {
    from{
        width: 0%;
    }
    to{
        width: 90%;
        background-color: #0f05;
        color: #000;
    }
    
}
/*--------- PROFILE QUERRIES -------*/

@container  profile (min-width:720px){
    .profile__wrapper{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}
/*------ PORTAFOLIO SECTION----*/

.portfolio{
    background-color: #18233F;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
}
.porfolio__project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
}
.portfolio-title{
    font-size: 3rem;
}
.portfolio__project{
    background-image:linear-gradient(to right,#0009, #0004, #000e), url(imagenes_/project-image.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: grid;
    place-content: center;
    animation: aparecer both;
    animation-timeline: view();
    animation-range-start: cover 2%;
    animation-range-end: contain 10%;
}
@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.portfolio__project:hover{
    opacity: 0.73;
    outline: 2px solid #fff;
    outline-offset: -4px;
}

/*------- PORTFOLIO QUERRYS-----*/
@container portfolio (min-width: 56.25rem){
    .porfolio__project-container{
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr)) ;
    }
    .portfolio__project:first-child{
        grid-column: span 2;
        grid-row: span 2;
        grid-auto-flow: dense;
    }
    .portfolio__project:nth-child(4){
        grid-column: span 2;
    }
    .portfolio__project:nth-child(6){
        grid-column: span 3;
    }
}
/*--------FORM SECTION--------*/

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    height: 50vh;
    margin: auto;   
    margin-top: 40px;
    container-name: form;
    container-type: inline-size;

    }
    .form__form{
        width: 100%;
        max-width: 700px;
        display: grid;


    }

.form__input-container input{
    width: 100%;
    padding: 9px 8px;
    border-radius: 0 0 8px 8px ;

}
.form__input-container textarea{
    width: 100%;
    height: 20vh;
    border-radius: 0 0 8px 8px ;
    resize: none;
}
.submit{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #48e;
    color: #fff;
}
/*--------FORM QUERRYS-------*/

@container form (min-width:52.25rem){
    .form__form{
        grid-template-areas: 
        "name lastname"
        "email email"
        "message message"
        "submit submit ";
        gap: 15px;
        border-radius: 8px;
        box-shadow: 0 0 4px 4px #123;
        padding: 4px 8px;
        background-color: #1234;
    }
    .form__input-container:first-child{
        grid-area: name;
    }
    .form__input-container:nth-child(2) {
        grid-area: lastname;
    }
    .form__input-container:nth-child(3){
        grid-area: email;
    }
    .form__input-container:nth-child(4){
        grid-area: message;
    }
    .form__input-container:nth-child(5){
        grid-area: submit;
    }
    
}
