*{
    margin: 0;
    padding: 0;
}
body{
    --bgcolor: #051f20;
    --sidebar-color:#fff;
    --darkcolor:#062f31;
    background-color: var(--bgcolor);
}
/*-------sidebar styles-----*/

.sidebar{
    background-color: var(--sidebar-color);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 20vw, 300px);
    font-size: clamp(1rem, 2.2vw, 2rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 6px;
}
.sidebar__profile{
    display: flex;
    flex-direction: column;
    height: 11dvh;
    justify-content: space-between;
    align-items:center ;
    padding: 10px;
    
}
.sidebar__profile__item{
    list-style: none;
}
.sidebar__profile__item span{
    padding: 10px;
}
.sidebar__profile__item img{
    border-radius: 100%;
    width:3rem;
    clip-path: circle(40% at 50%);
    
}

.sidebar__form{
    position: absolute;
    z-index: 20;
    right: -1rem;
}
input[type=checkbox]{
    display: none;
}
.sidebar label{
    position: relative;
    background-color: var(--sidebar-color);
    color: var(--bgcolor);
    border-radius: 50%;
    padding: 6px;
    user-select: none;
}
.sidebar__img{
    display: flex;
    width: 100%;
    justify-content: center;
}


.sidebar__nav{
    display: flex;
    flex: 1;
}
.sidebar__nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.sidebar-li{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: .9rem;
    padding-right: 10px;
    color: var(--darkcolor);
    border-radius: 36px 0 0 36px;
    position: relative;
}
.sidebar-li:hover{
    background-color: var(--bgcolor);
    color: var(--sidebar-color);
    
}
.sidebar-li::before, .sidebar-li::after{
    content: '';
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
}
.sidebar-li:hover::before{
    border-bottom-right-radius: 25px;
    top: -18px;
    box-shadow: 4px 4px 0 4px var(--bgcolor);
}
.sidebar-li:hover::after{
    border-top-right-radius: 25px;
    bottom: -18px;
    box-shadow: 4px -4px 0 4px var(--bgcolor);
}
.sidebar-li a{
    text-decoration: none;
    color: inherit;
}
.sidebar-li span{
    padding: 12px;
    font-size: 2rem;
}


.sidebar__img img{
    width: clamp(200px, 2rem, 3.4rem );
    filter: blur(1px);
    filter: brightness(1);
    filter: contrast(10);
    filter: saturate(4);
}
/*-----------checket-----*/
input[ type="checkbox"]:checked ~ label {
    color: var(--sidebar-color);
    background-color: var(--bgcolor);
}
.sidebar:has(input[type="checkbox"]:checked){
    width:fit-content ;
}
.sidebar:has(input[type="checkbox"]:checked) .sidebar__img{
display: none;
}
.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar-li a){
display: none;
}
.sidebar:has(input[type="checkbox"]:checked){
    width: 60px;
}