*{
    box-sizing: border-box;
}
.body{
    background-color: #abf;
}
body, div, ul, nav, header, footer, li, label{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    background-color: #48e;
    align-items: center;
    container-type: inline-size;
    container-name: header;
}
.header__logo{
    width: 80px;
    padding: 0;
    }
.label__checkbox{
    position: absolute;
    right: 40px;
    top: 0;
    font-size: 60px;
    font-weight: 600;
    background-color: transparent;
}
.nav{
    display: flex;
    background-color: #48e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 60px;
    z-index: 2;
}
.menu__open{
    display: none;
}
.nav{
    display: none;
    list-style: none;
    padding: 0;
    margin: auto;
}
.menu__open:checked ~ .nav{
    display: flex;
    background-color: #fff;
}
.nav__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 40vh;
    list-style: none;
    padding: 0;
    margin: auto;
    background-color: transparent;
    text-align: center;
    font-size: 2em;
}
.nav__item{
    background-color: transparent;
}

@container header (min-width:600px){
    .nav{
        display: block;
        position: static;
        right: 0;
        top: 20px;
        margin-right: 20px;
        width: auto;
        height: auto;
        z-index: 0;
    }
    .nav__list{
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 20px;
    }
    .label__checkbox{
        display:none;
    }
}



.profile{
    container-name: profile;
    container-type: inline-size;
    margin: auto;
}
.profile__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color:transparent;
    max-width: 1400px;
    padding: 20px;
    margin: auto;
}
.profile__img{
    max-width: 100%;
    width: 620px;
    height: 100%;
    object-fit: cover;
    background-color: #fff;
    margin: 0;
        border-radius: 10px 0 0 10px;
}
.profile__description{
    background-color: #fff;
}
.profile__img-container{
    max-height: initial;
    padding: 0;
    overflow: hidden;
}.profile__data-container{
    max-width: 620px;
    padding: 12px;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 0 9px #002;
}
.profile__skills-container{
    background-color: #fff;
}
.profile__skills-container ul{
    background-color: #fff;
}
.profile__data{
    max-width: 620px;
    background: #fff;
    
}
.profile__skill{
    display: flex;
    align-items: center;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    background-color: #fff;
}
.profile__skill-name{
    color: #48e;
}
h1{
    margin-top: 0;
    font-size: 4rem;
    text-wrap: balance;
}
.load__bar{
    border: 2px solid #48e;
    background-color: #fff;
    border-radius: 8px;
    color: #fff;
    padding: 2px ;
    font-size: 12px;
    width: 80%;
    margin: 4px;
    margin-left:0 ;
}.load-bar___bar{
    background-color: #48e;
    border-radius: 6px;
    padding: 4px 6px;
}
.bar--80{
    width: 80%;
}
.bar--60{
    width: 60%;
}
.bar--70{
    width: 70%;
}
.bar--90{
    width: 90%;
}
/*--------- PROFILE QUERRIES -------*/

@container  profile (min-width:720px){
    .profile__wrapper{
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
}
/*------ PORTAFOLIO SECTION----*/

.portfolio{
    background-color: #18233F;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    container-name: portfolio;
    container-type: inline-size;
}
.porfolio__project-container{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1300px;
    margin: auto;
    width: 100%;
    gap: 12px;
}
.portfolio-title{
    font-size: 3rem;
}
.portfolio__project{
    background-image:linear-gradient(to right,#0009, #0004, #000e), url(imagenes_/project-image.jpg);
    background-size: cover;
    background-position: center;
    min-height: 90vh;
    display: grid;
    place-content: center;
}
.portfolio__project:hover{
    opacity: 0.73;
    outline: 2px solid #fff;
    outline-offset: -4px;
}

/*------- PORTFOLIO QUERRYS-----*/
@container portfolio (min-width: 56.25rem){
    .porfolio__project-container{
        grid-template-columns: repeat(auto-fill,minmax(350px, 1fr)) ;
    }
    .portfolio__project:first-child{
        grid-column: span 2;
        grid-row: span 2;
        grid-auto-flow: dense;
    }
    .portfolio__project:nth-child(4){
        grid-column: span 2;
    }
    .portfolio__project:nth-child(6){
        grid-column: span 3;
    }
}
/*--------FORM SECTION--------*/

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    height: 50vh;
    margin: auto;   
    margin-top: 40px;
    container-name: form;
    container-type: inline-size;

    }
    .form__form{
        width: 100%;
        max-width: 700px;
        display: grid;


    }

.form__input-container input{
    width: 100%;
    padding: 9px 8px;
    border-radius: 0 0 8px 8px ;

}
.form__input-container textarea{
    width: 100%;
    height: 20vh;
    border-radius: 0 0 8px 8px ;
    resize: none;
}
.submit{
    width: 100%;
    margin-top: 10px;
    padding: 8px;
    background-color: #48e;
    color: #fff;
}
/*--------FORM QUERRYS-------*/

@container form (min-width:52.25rem){
    .form__form{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "name lastname"
        "email email"
        "message message"
        "submit submit ";
        gap: 15px;
    }
    .form__input-container:first-child{
        grid-area: name;
    }
    .form__input-container:nth-child(2) {
        grid-area: lastname;
    }
    .form__input-container:nth-child(3){
        grid-area: email;
    }
    .form__input-container:nth-child(4){
        grid-area: message;
    }
    .form__input-container:nth-child(5){
        grid-area: submit;
    }
}
